* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: 100;
  }
 
  header {
    width: 100%;
    color: aliceblue;
    background-color: rgb(109, 85, 65);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .menu {
    display: flex;
    padding: px;
    font-size: large;
  
  }
  
  a {
    color: aliceblue;
    font-size: x-large;
    margin: 10px;
  }
  
  body {
    background-image: url('../img/registro/fondo_7.jpg');
    background-size:cover ;
  }
  
  .form-register {
    width: 400px;
    background: rgb(109, 85, 65);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    font-family: 'calibr';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: rgb(109, 85, 65);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid gray;
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 17px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
    font-size: 10px;
  
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    margin: 20px;
    width: 100%;
    background: #747475;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  @media(max-width: 500px) {
    .form-register{
      width: 75%;
    }
  }

  @media (max-width: 500px) {
    .menu, header{
      flex-direction: column; 
     
    }
  }    

  
  footer {
    color: aliceblue;
    background-color: rgb(109, 85, 65);
    font-family: 'Montserrat';
    text-align: center;
    padding:20 px;
    
    font-size: 28.8px;
    font-weight: 100;
    margin-top:20px;
}
a{
  text-decoration: none;
}