* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 100;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

body {
  background-color: rgb(237, 238, 242);


}

header {
  width: 100%;
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.menu {
  display: flex;
  padding: px;
  font-size: large;
  text-decoration: none;

}

a {
  color: aliceblue;
  font-size: x-large;
  margin: 10px;


}

#banner {
  width: 100%;
  height: 400px;
  /* Ajusta la altura según sea necesario */
  background-image: url("../img/tijana-drndarski-JWmNS05a_Hs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: rgb(6, 11, 16);

}

h1 {

  text-align: center;
  padding: 150px 200px 20px 200px;
}

p {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;

}

#foto,
#fotoDest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}



.tarjeta {
  position: relative;
  width: 250px;
  height: 400px;
  color: rgb(109, 85, 65);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgb {
  width: 100%;
  height: auto;
  border-bottom: 5px solid;

}

.cuerpo {

  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(109, 85, 65);
  box-sizing: border-box;
  color: white;
  opacity: 20;
  transition: opacity 0.3s ease;
  text-align: center;
  font-size: large;

}

#dest {
  background-color: rgb(109, 85, 65);
  color: aliceblue;
  margin-bottom: 20px;
  padding: 30px;
  font-size: larger;
}



#comprar {
  width: 100%;
  font-size: medium;
  font-weight: 300;
  text-align: center;
  position: sticky;
  bottom: 10px;
  padding: 10px 80px;
  background-color: #d2c1aa;
  opacity: 0%;
  color: rgb(200, 138, 86);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* Transición de color de fondo */

}
.tarjeta:hover #comprar {
  opacity: 100%;
}
/*#comprar:hover {
  opacity: 100%;
}*/

#gallery {
  width: 90%;
  padding-top: 40px;
  margin: auto;
  overflow: hidden;

}

.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: space-around
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-item img {
  border-radius: 20px;
  width: 100%;
  height: ;
  display: block;
}

/* Navegación del Slider */
.gallery-navigation {

  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 50%;
  background-color: transparent;
}

.nav-button {
  padding: 10px;
  color: rgb(109, 85, 65);
  font-size: 32px;
  display: flex;
  opacity: 100%;
  background-color: transparent;
  position: sticky;
  bottom: 50%;
  border-color: transparent;
}

@media (max-width: 500px) {

  .menu,
  header {
    flex-direction: column;

  }

}

@media (max-width: 500px) {
  #gallery {
    width: 85%;
  }
}

@media(max-width:500px) {
  #comprar {
    width: 100%;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    position: sticky;
    bottom: 10px;
    padding: 10px 30px;
    background-color: #f1cb95;
    opacity: 50%;
    color: rgb(109, 85, 65);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Transición de color de fondo */

  }

  #comprar:hover {
    opacity: 100%;
  }

}

@keyframes bounce {
  0% {
    transform: translateY(0);
    /* Estado inicial */
  }

  50% {
    transform: translateY(-20px);
    /* Estado intermedio: rebote hacia arriba */
  }

  100% {
    transform: translateY(0);
    /* Estado final: regresar a la posición original */
  }
}


footer {
  color: aliceblue;
  background-color: rgb(109, 85, 65);
  font-family: 'Montserrat';
  text-align: center;
  padding: 20 px;

  font-size: 28.8px;
  font-weight: 100;
  margin-top: 20px;
}

a {
  text-decoration: none;
}


@media (max-width: 500px) {
  .tarjeta {
    height: 300px;
    width: 150px;
    font-size: x-small;
    margin-left: 0;
    margin-bottom: 10px;
  }

}

@media (max-width: 500px) {
  .cuerpo {
    font-size: small;
  }
}